*, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.header {
    width: 100%;
    height: 56px;
    box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);
}

.header .logo {
    width: 20%;
    height: 56px;
    display: inline-block;
    float: left;

}

.header .logo img {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    cursor: pointer;
}

.header .logo img:hover {
    filter: drop-shadow(0 0 8px #02CCC5);
}

.header .list-menu {
    width:75%;
    height: 56px;
    float: left;
    position: relative;
}

.header .list-menu ul li {
    display: inline-block;
    padding: 19px;

}
.header .list-menu ul li:nth-last-child(1){
    padding:0 !important ;
}
.header .list-menu ul li:nth-last-child(1)  input,button{
    padding: 10px;
    margin-left: 70px;
}

.header .list-menu ul li a {
    padding: 7px 0;
    position: relative;
    color: black;
    transition: all 0.5s ease-in-out;

}

.header .list-menu ul li a:after {
    content: '';
    height: 3px;
    width: 0;
    background: #02CCC5;
    position: absolute;
    border-radius: 113px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.header .list-menu ul li a:hover:after {
    width: 50%;
    transform: translateX(100%);
}


.header .list-menu ul li a:hover {
    color: #02CCC5;
    transition: all 0.5s ease-in-out;
}




.header .list-menu ul .search input {
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border: 1px solid #02CCC5;
    border-right: none !important;
}
.header .list-menu .search  button {
    margin-left: -5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #02CCC5;
    background-color: #02CCC5;
    cursor: pointer;
    border-left: none !important;
}




.header.sticky-navigation {
    background: #02ccc5;
    height: 60px;
}

.sticky-navigation .logo img {
    margin-top: 8px;
}

.sticky-navigation .list-menu ul li {
    display: inline-block;
    padding: 21px;

}

.sticky-navigation .list-menu ul li a:hover {
    color: #101010;
    transition: all 0.5s ease-in-out;
}

.sticky-navigation .list-menu ul li a:after {
    content: '';
    height: 3px;
    width: 0;
    background: #101010;
    position: absolute;
    border-radius: 113px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.sticky-navigation {
    transition: all 0.4s ease-out;
    box-shadow: 0px 3px 4.6px 0.3px rgba(0, 0, 0, 0.25);

}

.sticky-navigation .list-menu ul li a {
    color: #fff;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    border-width: 0 0 1px;
    top: 0;
    border-radius: 0;
    background: #ffff;
}

.sticky-navigation .search input {
    margin-top: 11px;
}

.sticky-navigation .list-menu ul li:nth-last-child(1) button {
    border: 1px solid #ec650c;
    background-color: #ec650c;
}



.container-main {
    width: auto;
    height: auto;
    background-color: #F0F2F5;
    margin-top: 56px;
    position: relative;
}

.container-main .category {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px #d4d4d4;
    width: 375px;
    height: 100vh;
    position: fixed;
    top: 58px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: .3s ease;
    z-index: 100;

}
.container-main .category:hover {
    overflow-y: scroll;
}

/* ben trai*/


.category .menu-item{
    padding: 10px 10px 10px 20px;

}
.category .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}

section.home{
    background-color: #f3f3f3;
}

.category::-webkit-scrollbar {
    width: 5px;
}

.category::-webkit-scrollbar-track {
    background: transparent !important;
}

.category::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
}

/*container-main*/
.container-main .main-center{
    width: 54%;
    margin-left: 375px;
    position: relative;
    float: left;
    height: 1000px;
}
.container-main .main-right{
    background-color: #d6d6d6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 20px #d4d4d4;
    width: 247px;
    height: 100vh;
    position: fixed;
    top: 58px;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: .3s ease;
    z-index: 100;
}
.main-center .display{
    width: 99%;
    height: 550px;
    position: relative;
    margin-top: 20px;
}
.main-center .display  p{
    margin-left: 20px;
    text-align: justify;
}
.main-center .display .modal iframe,
.content{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.main-center .display .modal .close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    top: 0;
}

/* Responsive */

#check-btn,
#cancel{
    font-size: 30px;
    color: #222;
    float: right;
    line-height: 56px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px) {
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    header ul li a{
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    #check-btn{
        display: block;
    }
    .list-menu ul{
        position: fixed;
        width: 100%;
        height: auto;
        background: #97eac4;
        top:56px;
        left: -100%;
        text-align: center;
        transition:all .5s;
        z-index: 200;
    }
    .header .list-menu ul li{
        display: block;
        margin: 27px 0;
        line-height: 30px;
        padding: 15px;
    }
    .list-menu ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: black ;
    }
    #check:checked ~ .list-menu ul{
        left: 0;
    }
    #check:checked ~ label #check-btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }

    .container-main .category{
        display: block;
        width: 300px;
        z-index: 0;
    }

    .main-right{
        display: none;
    }
    .header .search{
        display: none;
    }
    .menu-item iframe{
        width: 200px;
        height: 150px;
    }
    .main-center{
       margin-left: 300px;
    }
    .main-center iframe{
        width: 462px;
        height: 388px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

}