<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../resources/bootstrap-4.6.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../resources/bootstrap-4.6.0-dist/css/index.css">
</head>
<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Manage <b>Product</b></h2>
                </div>
                <div class="col-sm-4">
                    <form action="/search" method="get">
                        <div class="search-box">
                            <input class="search-txt" type="text" name="name" placeholder="Type to search">
                            <a class="search-btn" href="">
                                <button class="submit"><i class="fa fa-search"></i></button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#addEmployeeModal" class="add btn btn-success" data-toggle="modal"><i
                            class="material-icons" title="add">&#xE147;</i><span>Add New Product</span></a>
                    <span style="color: #dc2613; font-weight: bold;text-transform: uppercase;margin-top: 10px; display: block;"
                          th:text="${msg}"></span>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>producerProduct</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr th:each="productObj,loop:${products}">
                <td th:text="${loop.count}"></td>
                <td th:text="${productObj.id}"></td>
                <td th:text="${productObj.nameProduct}"></td>
                <td th:text="${productObj.priceProduct}"></td>
                <td th:text="${productObj.producerProduct}"></td>
                <td>
                    <a href="#editEmployeeModal"
                       th:onclick="|setIdEdit('${productObj.id}','${productObj.nameProduct}','${productObj.priceProduct}','${productObj.producerProduct}')|"
                       class="edit eBtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                                                title="Edit">&#xE254;</i></a>
                    <a href="#deleteServiceModal" th:onclick="|productSetId('${productObj.id}')|" class="delete"
                       data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                              title="Delete">&#xE872;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Delete Modal HTML-->
<div class="MyDelete">
    <form action="/delete" method="post">
        <div id="deleteServiceModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Product</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                        <input type="hidden" name="id" id="idProduct">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Edit Modal HTML-->
<div class="myForm">
    <form action="/update" method="post" th:object="${product}">
        <div id="editEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input readonly type="text" class="form-control" required name="id" id="idEdit" value=""/>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" required name="nameProduct" id="nameEdit" value=""/>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" required name="priceProduct" id="priceEdit"
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <label>producerProduct</label>
                            <input type="text" class="form-control" required name="producerProduct" id="producerEdit"
                                   value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--add Modal HTML-->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/save" th:object="${product}">
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{nameProduct}" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" th:field="*{priceProduct}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>producerProduct</label>
                        <input type="text" th:field="*{producerProduct}" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
<script src="../../../resources/bootstrap-4.6.0-dist/js/index.js"></script>
<script>
    function productSetId(id) {
        document.getElementById("idProduct").value = id;
    }

    function setIdEdit(id, name, price, producer) {
        document.getElementById("idEdit").value = id;
        document.getElementById("nameEdit").value = name;
        document.getElementById("priceEdit").value = price;
        document.getElementById("producerEdit").value = producer;
    }
</script>
</body>
</html>